:root {
  --dark-green: #637f52;
  --light-green: #d8d5bc;
  --dark-brown: #5c422b;
  --text-brown: #6b5842;
  --medium-green: #b4c29c;
  --light-brown: #f9eeda;
  --red: #b63131;
  --yellow: #ddbe6c;
}

.puzzle2-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f3e4d6;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
}

.puzzle2-container .grass-left {
  position: absolute;
  top: 100px;
  height: 200px;
  right: 50px;
}
.puzzle2-container .grass-bottom-left {
  position: absolute;
  top: 350px;
  height: 200px;
  right: 50px;
}
.puzzle2-container .grass-right {
  position: absolute;
  top: 100px;
  height: 180px;
  left: 50px;
}

.puzzle2-container .grass-bottom-right {
  position: absolute;
  top: 400px;
  height: 200px;
  left: 50px;
}

.puzzle2-container .middle-container {
  width: 72%;
  height: 94%;
  background-color: var(--light-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 16px;
  -webkit-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
}
.puzzle2-container .back {
  position: absolute;
  right: 5px;
  bottom: 0px;
  width: 150px;
  height: 180px;

  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}
/* Game Container : grille principale */
.puzzle2-container .game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 76%;
  height: 82%;
}

/* Partie gauche */
.puzzle2-container .left-section {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: start;
  justify-content: start;
}

.puzzle2-container .img-reference img {
  width: 200px;
  height: 220px;
  border-radius: 10px;
  grid-column-start: 1;
  border: 3px solid white;

  -webkit-box-shadow: 0px 0px 20px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 20px -14px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 20px -14px rgba(66, 68, 90, 1);
}

/* 6 pièces sous l’image (2 lignes de 3) */
.puzzle2-container .pieces-under-img {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(2, 70px);
  gap: 15px;
  justify-content: center;
  border-radius: 10px;
}

/* Partie droite */
.puzzle2-container .right-section {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  justify-items: start;
  gap: 10px;
}

/* Zone du puzzle */
.puzzle2-container .puzzle-zone {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  border-radius: 10px;
  justify-content: center;
  gap: 0px;
  -webkit-box-shadow: 0px 0px 20px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 20px -14px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 20px -14px rgba(66, 68, 90, 1);
}
.puzzle2-container .completed-puzzle {
  transform: scale(1.1);
}
.completed-puzzle {
  transform: scale(1.1);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  box-shadow: 0 0 10px 10px rgba(255, 223, 0, 0.6);
  border-radius: 12px;
  animation: shine 2s infinite alternate;
}

@keyframes shine {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.3);
  }
}

/* 3 pièces sous la grille (1 ligne) */
.puzzle2-container .pieces-under-grid {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
  justify-content: center;
}

.puzzle2-container .pieces-under-img img,
.puzzle2-container .pieces-under-grid img {
  width: 70px;
  height: 70px;
  cursor: grab;
  border-radius: 10px;
  /* color: rgba(206, 210, 214, 0.705); */
}
