.puzzle1-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzle1-container .middle-container {
  width: 70%;
  height: 85%;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.5);
  background-color: rgb(219, 219, 211);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.puzzle1-container .image-and-puzzle-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.puzzle1-container .image-and-puzzle-container .img-reference img {
  width: 100%;
}

.puzzle1-container .puzzle-zone {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: end;
}
