:root {
  --dark-green: #637f52;
  --light-green: #d8d5bc;
  --dark-brown: #5c422b;
  --text-brown: #6b5842;
  --medium-green: #b4c29c;
  --light-brown: #f9eeda;
  --red: #b63131;
  --yellow: #ddbe6c;
}

.memory2-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f3e4d6;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
}

.memory2-container .grass-left {
  position: absolute;
  top: 100px;
  height: 200px;
  right: 50px;
}
.memory2-container .grass-bottom-left {
  position: absolute;
  top: 350px;
  height: 200px;
  right: 50px;
}
.memory2-container .grass-right {
  position: absolute;
  top: 100px;
  height: 180px;
  left: 50px;
}

.memory2-container .grass-bottom-right {
  position: absolute;
  top: 400px;
  height: 200px;
  left: 50px;
}
/* Conteneur principal */
.memory2-container .middle-container {
  width: 70%;
  height: 85%;
  max-width: 1200px;

  border-radius: 16px;
  -webkit-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  background-image: url("/GAMES/memory/memory2/sea.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.memory2-container .middle-container .back {
  position: absolute;
  width: 210px;
  height: 150px;
  bottom: 0px;
  left: 650px;

  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
  z-index: 5;
}
.memory2-container .game-container {
  position: relative;

  width: 100%;
  height: 100%;
}

.memory2-container .middle-container .background-bubbles-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.memory2-container .middle-container .background-bubbles {
  display: flex;
  justify-content: space-around;
}
.memory2-container .middle-container .decor-bubble.size-1 {
  width: 20px;
  height: 20px;
}
.memory2-container .middle-container .decor-bubble.size-2 {
  width: 30px;
  height: 30px;
}
.memory2-container .middle-container .decor-bubble.size-3 {
  width: 25px;
  height: 25px;
}
.memory2-container .middle-container .decor-bubble.size-4 {
  width: 50px;
  height: 50px;
}

.memory2-container .middle-container .decor-bubble.size-0 {
  width: 40px;
  height: 40px;
}
.memory2-container .middle-container .decor-bubble.size-5 {
  width: 35px;
  height: 35px;
}

.memory2-container .display-bubbles-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.memory2-container .display-bubbles-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.memory2-container .size-0 img {
  width: 80px;
  height: 80px;
}

.memory2-container .size-1 img {
  width: 100px;
  height: 100px;
}

.memory2-container .size-2 img {
  width: 120px;
  height: 120px;
}

.memory2-container .bubble-anim {
  animation-name: float;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  will-change: transform, opacity;
}
.memory2-container .bubble-anim {
  animation: float ease-in-out forwards;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-450px) scale(0.8);
    opacity: 0;
  }
}
/* deuxieme partie */
.memory2-container .questions-bubbles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;

  width: 380px;
  height: 310px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  -webkit-box-shadow: 1px 5px 26px -6px rgba(83, 85, 111, 1);
  -moz-box-shadow: 1px 5px 26px -6px rgba(83, 85, 111, 1);
  box-shadow: 1px 5px 26px -6px rgba(83, 85, 111, 1);

  animation: floatContainer 2s ease-in-out infinite;
}
.memory2-container .questions-bubbles .question-bubble {
  width: 80px;
  height: 80px;
}
.memory2-container .correct {
  border: #629740 solid 3px;

  animation: correct-pulse 0.5s ease forwards;
}
.memory2-container .incorrect {
  border: #b63131 solid 3px;

  animation: small-shake 0.3s ease;
}
@keyframes correct-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 255, 0, 0.5);
  }
  50% {
    transform: scale(1.3);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 255, 0, 0);
  }
}
@keyframes small-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.memory2-container .questions-bubbles .question-bubble img {
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
}

.memory2-container .questions-bubbles p {
  text-align: center;
  grid-column: 1/-1;
  padding: 10px;
  color: var(--text-brown);
  font-weight: 700;
}

.memory2-container .questions-bubbles-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes floatContainer {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.bubbles-container-anim {
  animation: floatContainer 4s ease-in-out infinite;
}
.decor-bubble {
  animation: rise infinite linear;
}
@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-450px); /* monte au-dessus du cadre */
    opacity: 0;
  }
}
