:root {
  --dark-green: #637f52;
  --light-green: #d8d5bc;
  --dark-brown: #5c422b;
  --text-brown: #6b5842;
  --medium-green: #b4c29c;
  --light-brown: #f9eeda;
  --red: #b63131;
  --yellow: #ddbe6c;
}

.reading {
  width: 100vw;
  height: 100vh;
  background-color: #f3e4d6;
  position: relative;
}
.reading-flex {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reading .grass-left {
  position: absolute;
  top: 100px;
  height: 200px;
  right: 50px;
}
.reading .grass-bottom-left {
  position: absolute;
  top: 350px;
  height: 200px;
  right: 50px;
}
.reading .grass-right {
  position: absolute;
  top: 100px;
  height: 180px;
  left: 50px;
}
.reading .grass-bottom-right {
  position: absolute;
  top: 400px;
  height: 200px;
  left: 50px;
}
.reading .middle-container {
  position: relative;
  width: 70%;
  height: 90%;
  background-color: var(--light-brown);

  border-radius: 18px;
  -webkit-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
}
.reading .middle-container .grass {
  position: absolute;
  width: 75px;
  bottom: 120px;
  left: 22px;
  height: 310px;

  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}
.reading .main-nav {
  padding-top: 20px;
  margin: auto;
}
.reading .content-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;

  gap: 20px;
}
.reading .book-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 80%;
  width: 100%;
}
.reading .name-app {
  padding: 10px;
  font-size: 32px;
  line-height: 15px;
  font-weight: 600;
  background: linear-gradient(
    to right,
    var(--text-brown) 50%,
    var(--medium-green) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
}
.reading .title {
  font-family: "Poppin", sans-serif;
  font-size: 28px;
  color: var(--text-brown);
}
.reading .reading-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.reading .reading-message p {
  font-family: "Poppin", sans-serif;
  font-size: 15px;
  font-weight: 550;
  color: var(--text-brown);

  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}
.reading .reading-message img {
  height: 23px;
  height: 23px;

  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}
.reading .book-title-name {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.reading .book-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reading .book {
  width: 380px;
  height: 400px;

  cursor: pointer;

  /* position: absolute; */

  border-radius: 12px;
}

.reading .book:has(.pages:not(.flip)) {
  box-shadow: -13px 6px 18px -13px rgb(107 88 66 / 51%);
}

.reading .pages {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  border-radius: 12px;
}

.reading .front-page,
.reading .back-page {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: rgb(248, 244, 237);

  border-radius: 12px;
  border: #293333;
  display: flex;
  justify-content: center;
  border: 0.2px solid rgba(238, 240, 226, 0.664);

  /* box-shadow: inset -5px 0 8px rgba(0, 0, 0, 0.1); */
}

.reading .back-page {
  transform: rotateY(-180deg);

  /* box-shadow: inset -5px 0 8px rgba(0, 0, 0, 0.1); */
}

.reading .flip {
  transform: rotateY(180deg);
}

.reading .front-page img,
.reading .back-page img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* border: 0.5px solid rgb(227, 228, 206); */
}

.reading .front-page .next,
.reading .back-page .back {
  position: absolute;
  top: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.reading .front-page .next {
  right: 10px;
}
.reading .back-page .back {
  left: 10px;
}
.reading .front-page p,
.reading .back-page p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  font-family: sans-serif;
  font-size: 15px;
  width: 90%;
  padding: 4px;
  font-weight: 530;
  text-align: left;
  background-color: rgba(242, 242, 234, 0.452);
}
.reading .front-page .full-text,
.reading .back-page .full-text {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 16px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0);
  line-height: 1.8;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.reading .book {
  animation: slideRight 1s ease-in-out forwards;
}
