.reading {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reading .middle-container {
  width: 60%;
  height: 80%;
  padding: 20px;

  background-image: url("/backgrounds/grey-background.jpg");
  border-radius: 5px;
  box-shadow: -10px 16px 31px -6px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-left: #f3f5f769 20px solid;
  border-top: 20px solid rgba(243, 245, 247, 0.404);
  gap: 20px;
}
.reading .grass1 {
  position: absolute;
  bottom: 0px;
  left: -20px;
  width: 40px;
  height: 500px;
}
.reading .main {
  position: absolute;
  top: -10px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.reading .main .nav-item {
  margin-right: 20px;
}
.reading .main .user-name {
  position: absolute;
  right: -120px;
  border-radius: 50% 50%;
}
.reading .book {
  width: 50%;
  height: 90%;
  position: relative;
  top: 5%;

  border-radius: 12px;
}

.reading .book:has(.pages:not(.flip)) {
  box-shadow: -10px 11px 24px -2px rgba(73, 73, 73, 0.78);
  -webkit-box-shadow: -10px 11px 24px -2px rgba(75, 73, 73, 0.78);
  -moz-box-shadow: -10px 11px 24px -2px rgba(75, 73, 73, 0.78);
}

.reading .pages {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  border-radius: 12px;
  box-shadow: -7px 2px 43px -74px rgba(179, 174, 174, 0.89);
  -webkit-box-shadow: -7px 2px 43px -74px rgba(204, 194, 194, 0.89);
  -moz-box-shadow: -7px 2px 43px -74px rgba(231, 222, 222, 0.89);
}

.reading .front-page,
.reading .back-page {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: white;

  border-radius: 12px;
  border: #293333;
  display: flex;
  justify-content: center;

  box-shadow: inset 5px 0 8px rgba(0, 0, 0, 0.1);

  box-shadow: -7px 2px 43px -74px rgba(179, 174, 174, 0.89);
  -webkit-box-shadow: -7px 2px 43px -74px rgba(204, 194, 194, 0.89);
  -moz-box-shadow: -7px 2px 43px -74px rgba(231, 222, 222, 0.89);
}

.reading .back-page {
  transform: rotateY(-180deg);

  box-shadow: inset -5px 0 8px rgba(0, 0, 0, 0.1);
}

.reading .flip {
  transform: rotateY(180deg);
}

.reading .front-page img,
.reading .back-page img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* border: 0.5px solid rgb(227, 228, 206); */
}

.reading .front-page .next,
.reading .back-page .back {
  position: absolute;
  top: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.reading .front-page .next {
  right: 10px;
}
.reading .back-page .back {
  left: 10px;
}
.reading .front-page p,
.reading .back-page p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;

  font-family: "Quicksand", serif;
  font-size: 15px;
  width: 90%;
  padding: 4px;
  font-weight: bolder;
  text-align: left;
  background-color: rgba(242, 242, 234, 0.452);
}
.reading .front-page .full-text,
.reading .back-page .full-text {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 16px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0);
  line-height: 1.8;
}
.reading .book-title {
  font-size: 30px;
  width: 50%;

  position: absolute;
  top: 40%;
  left: 0%;
  display: flex;
  justify-content: center;
}
.reading .title {
  font-size: 30px;

  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
  color: #43415ec4;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(190px);
  }
}
.reading .book {
  animation: slideRight 1s ease-in-out forwards;
}
