* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-list .global-container {
  background-image: url("/backgrounds/pastel-background2.png");
  /* background-color: #c8c6ba; */
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-list .middle-container {
  position: relative;
  width: 72%;
  height: 90%;
  background-color: rgb(14, 6, 36);
  border-radius: 10px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
}
.book-list .main {
  width: 60%;
}
.book-list .main .user-name {
  position: absolute;
  right: 2px;
  border-radius: 50% 50%;
  padding: 5px;
}
/* Scrollbar personnalisée pour .book-list .middle-container */
.book-list .middle-container {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #828cad transparent;
}

/* Pour Chrome, Edge, Safari */
.book-list .middle-container::-webkit-scrollbar {
  width: 6px;
}

.book-list .middle-container::-webkit-scrollbar-track {
  background: transparent;
}

.book-list .middle-container::-webkit-scrollbar-thumb {
  background-color: #d3c3ce;
  border-radius: 10px;
}
.book-list .header-actions {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  padding-top: 20px;
}
.book-list .bar-search {
  display: flex;
  align-items: center;
  width: 20%;
  border-bottom: 2px solid #776ca5;
  padding-bottom: 4px;
  position: relative;
  right: 30px;
}

.book-list .bar-search input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  padding: 5px 30px 5px 5px;
  background-color: transparent;
  color: #eae8f0;
}

.book-list .bar-search input::placeholder {
  color: #b9c7f5;
  font-family: cursive;
}

.book-list .bar-search .search-icon {
  position: absolute;
  right: 5px;
  font-size: 1rem;

  cursor: pointer;
}

.book-list .books-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;

  height: 80%;

  margin-top: 40px;
  gap: 10px;

  overflow-y: scroll;
}
.book-list .text-intro {
  grid-column: span 2;
  grid-row: span 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: rgb(18, 29, 61);
  border-radius: 12px; */

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.book-list .text-intro p {
  color: rgb(178, 184, 184);

  width: 90%;

  font-family: cursive;
  padding: 10px;
  margin-left: 10px;

  font-weight: 500;
  font-style: normal;
  font-size: 16.5px;

  line-height: 30px;

  text-align: start;
}
.book-list .text-intro h2 {
  font-size: 2rem;
  color: #adb9be;
  margin-bottom: 10px;
  font-family: "Charm", cursive;
}

.book-list .book {
  grid-column: span 1;
  width: 160px;
  height: 200px;
  display: flex;

  background-color: rgb(18, 29, 61);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.book-list .cover {
  cursor: pointer;
}
.book-list .heart-like-icon {
  position: absolute;
  z-index: 9;
  font-size: 14px;
  color: rgb(228, 41, 41);
  top: 5px;
  left: 5px;
}
.book-list .heart-unlike-icon {
  position: absolute;
  z-index: 9;
  font-size: 14px;
  color: rgb(172, 167, 159);
  top: 5px;
  left: 5px;
}
.book-list .lock-icon {
  font-size: 18px;
  position: absolute;
  z-index: 9;
  top: 5px;
  left: 5px;

  color: rgba(194, 194, 183, 0.918);
}
.book-list .card-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  border-radius: 5px;
  width: 100%;
  height: 100%;

  background-color: rgb(18, 29, 61);
  top: 0;
  left: 0;
  z-index: 4;
  transform-origin: 50% 60%;

  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}
.book-list .book .cover {
  position: absolute;
  width: 126px;
  height: 130px;

  border-bottom: 2px rgba(187, 180, 180, 0.884) solid;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 9px 6px 12px -6px rgba(53, 48, 59, 0.75);
  -webkit-box-shadow: 9px 6px 12px -6px rgba(45, 41, 49, 0.75);
  -moz-box-shadow: 9px 6px 12px -6px rgba(49, 43, 56, 0.75);
  z-index: 5;
  transform: translateZ(28.5px);
}
.book-list .book .book-top {
  position: absolute;
  top: 24px;

  width: 168px;
  height: 35px;
  transform: rotateY(0.6);
}
.book-list .book .book-side {
  position: absolute;
  bottom: 33px;

  width: 170px;
  height: 35px;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(100deg)
    scaleY(0.4);

  z-index: 1;
}
.book-list .card-hover:hover {
  transform: rotateX(72deg) scaleX(0.6) scaleY(0.8);
}
/* BOOK-INFORMATIONS */
.book-list .card-informations {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: space-around;
  padding: 0 5px 0 5px;
  width: 160px;
  height: 85px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -100px;

  border-radius: 5px;
  z-index: 12;

  transition: transform 0.6s ease-in-out;
}
.book-list .card-informations .stars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0px 10px 0px;
}
.book-list .card-informations h3,
.book-list .card-informations p {
  font-size: 12px;

  font-family: cursive;
  font-weight: 500;

  color: rgb(0, 1, 10);
}
.book-list .book:hover .card-informations {
  transform: translateY(-95px);

  box-shadow: -13px 6px 17px 1px rgba(14, 12, 12, 0.75);
  -webkit-box-shadow: -13px 6px 17px 1px rgba(34, 32, 32, 0.849);
  -moz-box-shadow: -13px 6px 17px 1px rgb(53, 49, 49);
}

/* Style du toast */
.custom-toast {
  height: 140px;
  background-color: #ffffff;
  color: #0e0d41;

  font-size: 16px;
  font-family: cursive;

  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
}
@keyframes owl-flap {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.toast-owl-icon {
  width: 60px;
  height: 60px;

  animation: owl-flap 1.5s;
}
