* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-container {
  width: 70%;
  height: 90%;
  background-color: rgb(21, 11, 48);
  border-radius: 10px;
  box-shadow: -29px 22px 45px -4px rgba(17, 17, 17, 0.73);
  -webkit-box-shadow: -29px 22px 45px -4px rgba(17, 17, 17, 0.73);
  -moz-box-shadow: -29px 22px 45px -4px rgba(17, 17, 17, 0.73);
}
.header-actions {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  padding-top: 20px;
}
/* .main {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.main a {
  color: #c3c9c7;

  font-family: "Quicksand", serif;

  letter-spacing: -1px;
  font-weight: 800;
  font-size: 16px;
} */
.bar-search {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.bar-search div {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 222, 1);
  border-radius: 0 5px 5px 0;
}
.bar-search input {
  width: 85%;
  border: 5px solid rgb(247, 211, 11);
  height: 25px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;

  height: 80%;

  margin-top: 40px;
  gap: 10px;

  overflow-y: scroll;
}
.text-intro {
  grid-column: span 2;
  grid-row: span 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-intro p {
  color: rgb(178, 184, 184);

  width: 90%;

  font-family: "Quicksand", serif;
  padding: 10px;
  margin-left: 10px;

  font-weight: 600;
  font-style: normal;
  font-size: 17px;

  line-height: 30px;

  text-align: start;
}
.text-intro .img-logo {
  margin-bottom: 20px;
  width: 70%;
  height: 20px;
}

.book {
  grid-column: span 1;
  width: 160px;
  height: 200px;
  display: flex;

  background-color: rgb(23, 35, 75);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.heart-like-icon {
  position: absolute;
  z-index: 9;
  font-size: 14px;
  color: rgb(212, 200, 26);
}
.heart-unlike-icon {
  position: absolute;
  z-index: 9;
  font-size: 14px;
  color: rgb(172, 167, 159);
  top: 40px;
  left: 20px;
}
.lock-icon {
  font-size: 18px;
  position: absolute;
  z-index: 9;
  top: 5px;
  left: 5px;

  color: rgba(150, 150, 36, 0.918);
}
.card-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: rgb(23, 39, 75);
  top: 0;
  left: 0;
  z-index: 4;
  transform-origin: 50% 60%;

  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}
.book .cover {
  position: absolute;
  width: 126px;
  height: 130px;

  border-bottom: 2px rgba(187, 180, 180, 0.884) solid;
  border-radius: 3px 3px 3px 3px;

  z-index: 5;
  transform: translateZ(28.5px);
}
.book .book-top {
  position: absolute;
  top: 24px;

  width: 168px;
  height: 35px;
  transform: rotateY(0.6);
}
.book .book-side {
  position: absolute;
  bottom: 33px;

  width: 170px;
  height: 35px;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(100deg)
    scaleY(0.4);

  z-index: 1;
}
.card-hover:hover {
  transform: rotateX(72deg) scaleX(0.6) scaleY(0.8);
}
/* BOOK-INFORMATIONS */
.card-informations {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: space-around;
  padding: 0 5px 0 5px;
  width: 160px;
  height: 85px;
  background-color: rgb(205, 242, 250);
  position: absolute;
  bottom: -100px;

  border-radius: 5px;
  z-index: 12;

  transition: transform 0.6s ease-in-out;
}
.card-informations .stars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0px 10px 0px;
}
.card-informations h3,
.card-informations p {
  font-size: 12px;

  font-family: serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: rgb(0, 0, 0);
}
.book:hover .card-informations {
  transform: translateY(-95px);

  box-shadow: -13px 6px 17px 1px rgba(14, 12, 12, 0.75);
  -webkit-box-shadow: -13px 6px 17px 1px rgba(34, 32, 32, 0.849);
  -moz-box-shadow: -13px 6px 17px 1px rgb(53, 49, 49);
}
