:root {
  --dark-green: #637f52;
  --light-green: #d8d5bc;
  --dark-brown: #5c422b;
  --text-brown: #6b5842;
  --medium-green: #b4c29c;
  --light-brown: #f9eeda;
  --red: #b63131;
  --yellow: #ddbe6c;
}

/* 🌿 Fond général */
.home.global-container {
  background-image: url("/backgrounds/pastel-background.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 🌱 Décors */
.home .grass-left {
  position: absolute;
  top: 100px;
  height: 200px;
  right: 50px;
}
.home .grass-bottom-left {
  position: absolute;
  top: 350px;
  height: 200px;
  right: 50px;
}
.home .grass-right {
  position: absolute;
  top: 100px;
  height: 180px;
  left: 50px;
}
.home .grass-bottom-right {
  position: absolute;
  top: 400px;
  height: 200px;
  left: 50px;
}

/* 📘 Bloc principal */
.home .middle-container {
  position: relative;
  width: 68%;
  height: 92%;
  background-color: var(--light-brown);
  border-radius: 10px;
  box-shadow: -7px 0px 15px -9px rgba(100, 89, 65, 0.76);
  -moz-box-shadow: -10px 16px 31px -6px rgba(61, 49, 30, 0.75);
  /* display: flex;
  justify-content: center;
  align-ite
  ms: center; */
}
.home .middle-container .main-flex {
  display: flex;
  justify-content: center;
}
.home .main-nav {
  padding-top: 20px;
}
.home .content-container {
  width: 66%;
  height: 92%;

  position: absolute;

  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .content-container-flex {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 60px; */
}
/* intro-message */
.home .intro-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .intro-message .title-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 0px 50px;
}
.home .intro-message P {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-brown);

  font-family: "Poppins", sans-serif;
}
.home .intro-message h1 {
  padding: 10px;
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--text-brown) 50%,
    var(--medium-green) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
}
.home .intro-message img {
  width: 370px;
  height: 190px;
}
/* Livre */
.home .books-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}
.home .books-title-container h3 {
  color: var(--text-brown);
  font-size: 22px;
  font-weight: 600;
}
.home .books-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: center;
  gap: 60px;
}
.home .book {
  width: 170px;
  height: 163px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.home .book img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: -4px 9px 35px 0px rgba(102, 101, 101, 0.54);
  -webkit-box-shadow: -4px 9px 35px 0px rgba(92, 90, 90, 0.54);
  -moz-box-shadow: -4px 9px 35px 0px rgba(97, 94, 94, 0.54);
}

.home .book:hover {
  transform: scale(1.05);
}
