.home {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .main {
  width: 80%;
}

.home .middle-container {
  position: relative;
  width: 65%;
  height: 84%;
  background-image: url("/accueil/accueil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: -10px 16px 31px -6px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.home .middle-container .main {
  width: 60%;
}
.home .main .user-name {
  position: absolute;
  right: 5px;
  border-radius: 50% 50%;
  padding: 5px;
}
/* Message d'intro */
.home .intro-message {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  background-color: rgba(251, 252, 253, 0.911);

  box-shadow: 0 2px 6px rgba(191, 193, 194, 0.568);
  margin-top: 15px;
}

.home .intro-message h1 {
  font-size: 1.6rem;
  color: #455379;
  margin-bottom: 10px;
  font-family: "Charm", cursive;
  margin-bottom: 10px;
}

.home .intro-text p {
  font-size: 0.9rem;
  color: #425380;
  line-height: 1.4;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

/* Titre "Contes les plus populaires" */
.home .books-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.home .books-title-container h3 {
  font-family: cursive; /* police élégante */
  font-size: 1.1rem;
  color: #565e83;
  /* background-color: #bba890; */
  padding: 6px 14px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(148, 151, 153, 0.568);
}

/* Conteneur des livres */
.home .books-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin-top: 12px;
}

/* Livre */
.home .book {
  width: 170px;
  height: 165px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.home .book img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.home .book:hover {
  transform: scale(1.05);
}
