.home {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .main {
  width: 80%;

  color: yellow;
}
.home .main a {
  color: rgb(65, 75, 133);
}

.home .middle-container {
  width: 60%;
  height: 80%;
  background-image: url("/accueil/accueil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: -10px 16px 31px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -10px 16px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 16px 31px -6px rgba(0, 0, 0, 0.75);

  /* Ajout de flexbox pour organiser le contenu interne */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow-y: auto;
}

/* Section d’intro */
.home .intro-message {
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  width: 60%;
}

.home .intro-message h1 {
  font-size: 1.5rem;
  color: #2f4866;
  margin-bottom: 20px;

  font-family: "Charm", cursive;
}

.home .intro-text p {
  font-size: 1rem;
  color: #221b38;
  line-height: 1.6;
  margin-top: 20px;

  font-family: "Sansita", sans-serif;
  box-shadow: #2f4866;
}

/* Conteneur des livres */
.home .books-container {
  display: flex;

  justify-content: center;
  gap: 24px;
  width: 100%;
  margin-top: 20px;
}
.home .books-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Carte d’un livre */
.home .book {
  width: 170px;
  height: 165px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.home .book img {
  width: 100%;
  height: 100%;
  border-radius: 12px;

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.home .book:hover {
  transform: scale(1.05);
}
