/* register.css */
.register-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container .middle-container {
  position: relative;
  background-color: rgb(18, 29, 61);
  background-position: center;
  background-size: 100% 100%;
  border-radius: 12px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 15px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
}
.register-container .main .user-name {
  position: absolute;
  right: 2px;
  border-radius: 50% 50%;
  padding: 5px;
}
.register-container .main {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.register-container .main a {
  color: rgb(234, 235, 245);
}

.register-container .info-container {
  position: relative;
  width: 100%;

  height: 100%;

  left: -45px;
  top: 30px;

  background-color: rgba(229, 239, 243, 0.952);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: "Georgia", serif;
  color: #2f2f2f;
  z-index: 2;
}

.register-container h2 {
  text-align: center;
  color: #3a4c5c;
  margin-bottom: 20px;
}

.register-container label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #405466;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cdd7d6;
  border-radius: 10px;
  background-color: #fdfdfd;
  font-size: 14px;
}

.register-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3a5a80;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Georgia", serif;
  margin-top: 25px;
}

.register-container button[type="submit"]:hover {
  background-color: #2f4968;
}

.register-container p {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}
.register-container .switch-login {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #35434e;
  font-family: "Comic Sans MS", "Fredoka", cursive;
}

.register-container .login-link {
  color: #50b9ff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  background-color: #eefcff;
  padding: 6px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-container .login-link:hover {
  background-color: #547e88;
  color: #e8e9f3;
  transform: scale(1.05);
  text-decoration: none;
}
.register-container .error-message,
.register-container .register-message {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;

  font-family: "Comic Sans MS", "Fredoka", cursive;
}
.register-container .register-message {
  color: rgb(28, 87, 62);
}
.register-container .error-message {
  color: rgb(212, 43, 43);
}
/* images */
.register-container .bird {
  position: absolute;
  width: 88px;
  height: 88px;
  top: -50px;
  right: -40px;
}
.register-container .grass1 {
  position: absolute;
  width: 60px;
  height: 400px;
  right: 10px;
  bottom: -8px;
  z-index: 3;
}
.register-container .grass2 {
  position: absolute;
  width: 50px;
  height: 350px;
  left: -45px;
  bottom: -18px;
  z-index: 3;
}
