.verification {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfeef5;
}
.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 60%;
  border-radius: 3px;
  background-color: #e2edf3;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.bird-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}

.bird-message {
  position: absolute;

  height: 80px;
  left: -100px;

  /* transform: scaleX(-1); */
  animation: fly-across 10s linear infinite;
}
.verification h1 {
  font-size: 60px;
}

@keyframes fly-across {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}

.text-container {
  max-width: 600px;
}
