/* Conteneur global */
.quiz-global-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteneur principal */
.quiz-global-container .quiz-middle-container {
  width: 70%;
  height: 80%;
  max-width: 1200px;
  border-radius: 16px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.5);
  /* background-image: url("/backgrounds/grey-background2.jpg"); */

  background-color: rgb(216, 223, 216);
  background-size: auto;
  background-position: center;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-global-container .quiz-middle-container img {
  width: 160px;
  height: auto;
}

/* Titre principal */
.quiz-global-container h3 {
  font-size: 25px;
  font-weight: bold;

  font-family: "Quicksand", sans-serif;
  /* margin-bottom: 25px; */
  color: #224770;
  text-shadow: 1px 1px 0px #fff;
}
.quiz-global-container .title-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

/* Zone de question */
.quiz-global-container .questions-container {
  width: 100%;
  /* background: #0c0b30cc; léger transparent */
  background-color: #121f69de;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 20px;

  /* Grid pour options 2x2 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: stretch;
}

/* Question */
.quiz-global-container .questions-container h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: hsl(195, 20%, 96%);
  font-weight: 600;
  grid-column: span 2; /* la question prend toute la largeur de la grille */
  text-align: center;
}

/* Options de réponse */
.quiz-global-container .option {
  background: #f1f0edec;
  border: 2px solid #325c66;
  border-radius: 16px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

/* Survol */
.quiz-global-container .option:hover {
  background: #e1f5fe;
  border-color: #6cc9e0;
  transform: scale(1.03);
}

/* Bonne réponse */
.quiz-global-container .correctAnswer {
  background-color: #a5d6a7 !important;
  border-color: #66bb6a !important;
  color: #1b5e20;
  font-weight: bold;
  box-shadow: 0px 2px 10px rgba(76, 175, 80, 0.4);
}

/* Mauvaise réponse */
.quiz-global-container .incorrectAnswer {
  background-color: #ef9a9a !important;
  border-color: #e57373 !important;
  color: #b71c1c;
  font-weight: bold;
  box-shadow: 0px 2px 10px rgba(244, 67, 54, 0.4);
}

/* Message feedback */
.quiz-global-container .message {
  font-size: 20px;
  font-weight: bold;
  min-height: 50px;
  color: #232a3e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #f3f1ed;
  border: 2px solid #162946;

  grid-column: span 2; /* message prend toute la largeur */
  visibility: hidden;
}
.quiz-global-container .message p {
  padding: 0 10px;
}

.quiz-global-container .message--visible {
  visibility: visible;
}
