.riddles-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteneur principal */
.riddles-container .middle-container {
  width: 70%;
  height: 80%;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.5);
  background-image: url("/backgrounds/grey-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Bloc trophée */
.riddles-container .trophy {
  text-align: center;
  margin-bottom: 1.5rem;
}

.riddles-container h3 {
  margin-bottom: 0.3rem;
  margin-top: 0.7rem;
  font-size: 1.06rem;
  color: rgb(7, 7, 61);
}

.riddles-container .trophy-text p {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}

.riddles-container .owl-icon {
  width: 75px; /* trophée plus grand */
  margin-top: 0.8rem;

  margin-left: auto;
  margin-right: auto;
}

/* Conteneur des cartes */
.riddles-container .riddles-cards-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 1.5rem;
}

/* Carte jeu */
.riddles-container .card {
  background: #fcffff8c;
  border-radius: 14px;
  border: 1px solid rgba(117, 144, 145, 0.685);
  padding: 12px;
  width: 340px; /* plus large */
  height: 200px; /* plus haute */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  transition: transform 0.2s ease;

  box-shadow: -10px 10px 22px -6px rgba(0, 0, 0, 0.75);
}

.riddles-container .card:hover {
  transform: scale(1.02); /* petit effet au survol */
}

/* Colonne image + sous-titre */
.riddles-container .game-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
}

.riddles-container .game-img {
  width: 70px; /* image plus grande */
  height: 70px;
  object-fit: contain;
}

.riddles-container .game-subtitle {
  font-size: 11px;
  margin-top: 4px;
  color: #444;
  text-align: center;
}

/* Texte à droite */
.riddles-container .game-text {
  font-size: 14px;
  color: #222;
  line-height: 1.4;
  /* margin-left: 4px;14px; */
  flex: 1;
}
.riddles-container .game-column button {
  width: 200px;
  height: 40px;
  margin-top: 1rem;
  background-color: rgb(10, 17, 48);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
