.shadow-game {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.shadow-game .middle-container {
  width: 70%;
  height: 80%;
  max-width: 1200px;
  border-radius: 16px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.5);
  /* background-image: url("/backgrounds/grey-background2.jpg"); */

  background-color: rgb(216, 223, 216);
  background-size: auto;
  background-position: center;
}
.shadow-game img {
  width: 200px;
  height: 200px;
}
.shadow-game .empty-place {
  width: 200px;
  height: 200px;
}
