.main {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.main a {
  /* color: #4a3f2c; */
  font-family: cursive;

  font-weight: 600;
  font-size: 14px;
  text-decoration: none;

  color: #fcfcfd;
}

.nav-item {
  background-color: #6176a3c4;
  padding: 4px 4px;
  border-radius: 10px;
  margin-right: 8px;
  font-size: 16px;
  cursor: pointer;

  transition: all 0.3s ease;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.nav-item:hover {
  background-color: #2f347c;
  transform: scale(1.1);
}
.nav-item a {
  padding: 4px 8px;
}
.nav-item .user-name {
  position: absolute;
  right: 2px;
  border-radius: 50% 50%;
}
.connexion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.connexion p {
  margin: 0 8px 0 8px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: rgb(63, 155, 179);
  font-weight: 700;
}

.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
