.main {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.main a {
  /* color: #4a3f2c; */
  font-family: cursive;

  font-weight: 600;
  font-size: 14px;
  text-decoration: none;

  color: #fcfcfd;
}

.nav-item {
  background-color: #d3c3ce;
  padding: 4px 4px;
  border-radius: 10px;
  margin-right: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 4px 8px;
}

.nav-item:hover {
  background-color: #daaaf1;
}
.nav-item:hover a {
  font-size: 15px;
}

.connexion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.connexion p {
  margin: 0 8px 0 8px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
