:root {
  --dark-green: #637f52;
  --light-green: #d8d5bc;
  --dark-brown: #5c422b;
  --text-brown: #6b5842;
  --medium-green: #b4c29c;
  --light-brown: #f9eeda;
  --red: #b63131;
  --yellow: #ddbe6c;
}

.games-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f3e4d6;

  font-family: "Poppins", sans-serif;
}
/* 🌱 Décors */
.games-container .grass-left {
  position: absolute;
  top: 100px;
  height: 200px;
  right: 50px;
}
.games-container .grass-bottom-left {
  position: absolute;
  top: 350px;
  height: 200px;
  right: 50px;
}
.games-container .grass-right {
  position: absolute;
  top: 100px;
  height: 180px;
  left: 50px;
}
.games-container .grass-bottom-right {
  position: absolute;
  top: 400px;
  height: 200px;
  left: 50px;
}

.games-container-flex {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-container .middle-container {
  padding: 20px;
  position: relative;
  width: 66%;
  height: 90%;
  background-color: var(--light-brown);
  border-radius: 16px;
  -webkit-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
  box-shadow: 1px 3px 25px -8px rgba(66, 68, 90, 1);
}
.games-container .games-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.games-container .games-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.games-container .card {
  width: 200px;
  height: 250px;
  background-color: rgb(250, 245, 233);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px rgb(146, 146, 120);
  -moz-box-shadow: 0px 0px 6px 0px rgb(146, 141, 120);
  box-shadow: 0px 0px 6px 0px rgb(146, 141, 120);
  /* Effets */
  transform-origin: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--dark-green);
}

.games-container .card:hover {
  transform: scale(1.06); /* zoom + flottement */
}

.games-container .games-cards-container .card img {
  width: 160px;
  height: auto;
}

.games-container .games-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-container h1 {
  padding: 10px;
  font-size: 32px;
  line-height: 8px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--text-brown) 50%,
    var(--medium-green) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-container .games-text p {
  color: var(--text-brown);
  font-size: 1.3rem;

  font-weight: 600;
}

.games-container .games-text img {
  width: 60px; /* cerf-volant plus grand */
  height: auto;
  animation: float-random 4s ease-in-out infinite;
}
.games-container .games-cards {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  height: 80%;
  margin-top: 20px;
}
.games-container .games-cards h3 {
  font-weight: 600;
  font-size: 1.4rem;
}
@keyframes float-random {
  0% {
    transform: translate(8px, -10px) rotate(3deg);
  }
  25% {
    transform: translate(10px, -15px) rotate(3deg);
  }
  50% {
    transform: translate(-8px, -25px) rotate(-4deg);
  }
  80% {
    transform: translate(12px, -10px) rotate(2deg);
  }
  100% {
    transform: translate(8px, -10px) rotate(3deg);
  }
}
