.games-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-container .middle-container {
  width: 70%;
  height: 80%;
  border-radius: 12px;
  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.5);
  background-image: url("/backgrounds/dark-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.games-container .games-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.games-container .card {
  width: 200px;
  height: 250px;
  background-color: rgb(231, 231, 225);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: -10px 16px 31px -6px rgba(0, 0, 0, 0.75);
  border: 2px solid rgb(161, 163, 145);

  /* Effets */
  transform-origin: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: rgb(13, 24, 88);
}

.games-container .card:hover {
  transform: scale(1.08); /* zoom + flottement */
  box-shadow: -5px 12px 40px -4px rgba(0, 0, 0, 0.8);
}

.games-container .games-cards-container .card img {
  width: 160px;
  height: auto;
}

.games-container .games-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-container .games-text p {
  color: rgb(232, 244, 248);
  font-size: 1.3rem;

  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.games-container .games-text img {
  width: 60px; /* cerf-volant plus grand */
  height: auto;
  animation: float-random 4s ease-in-out infinite;
}
.games-container .games-cards {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  height: 80%;
  margin-top: 20px;
}
.games-container .games-cards h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
@keyframes float-random {
  0% {
    transform: translate(8px, -10px) rotate(3deg);
  }
  25% {
    transform: translate(10px, -15px) rotate(3deg);
  }
  50% {
    transform: translate(-8px, -25px) rotate(-4deg);
  }
  80% {
    transform: translate(12px, -10px) rotate(2deg);
  }
  100% {
    transform: translate(8px, -10px) rotate(3deg);
  }
}
