.games-container {
  background-image: url("/backgrounds/pastel-background2.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games-container .middle-container {
  width: 70%;
  height: 80%;
  background-color: rgb(13, 16, 43);
  border-radius: 12px;

  box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 79px -2px rgba(0, 0, 0, 0.75);
}
.games-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.games-container .games-cards-container img {
  width: 130px;
  height: 130px;
}
.games-container .games-cards-container {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
.games-container .games-cards-container .card {
  background-color: rgb(255, 255, 255);
  padding: 35px 50px;
  margin: 0 20px;
  border-radius: 20px;
  box-shadow: -3px 26px 24px -6px rgba(0, 0, 2, 0.527);
  -webkit-box-shadow: -3px 26px 24px -6px rgba(0, 0, 2, 0.534);
  -moz-box-shadow: -3px 26px 24px -6px rgba(0, 0, 2, 0.527);
}
